@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html.dark body {
    @apply bg-gray-900 text-gray-100;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes flutuar {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}

.levit {
  animation: flutuar 1s ease-in-out infinite alternate;
}
